{{define "signin"}}

<!doctype html>
<html lang="en">

<head>
    {{template "_header"}}
</head>

<body>
    <div class="container">
        {{template "_navigation"}}

        <div class="row mb-2" style="padding:20px; 0; display:flex; justify-content:center;">

            <form class="form-signin" id="sign-in-form" method="POST" action="/sign-in">
                <div id="alert" class="alert alert-danger" role="alert" style="display:none;"></div>
                <div class="row">
                    <div class="form-group col-md-12 mb-3">
                        <label for="email">Email</label>
                        <input type="email" id="inputEmail" class="form-control" required autofocus name="email">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 mb-3">
                        <label for="email">Password</label>
                        <input type="password" id="inputPassword" class="form-control" required name="password">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 mb-3">
                        <center><button type="submit" class="btn btn-outline-secondary">Sign In</button></center>
                    </div>
                </div>
                <br />
            </form>

            {{template "_footer"}}
        </div>
    </div>

    <script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            $("#sign-in-form").on("submit", function (e) {
                e.preventDefault();

                let $self = $(this);
                let payload = JSON.stringify({
                    email: $('input[name="email"]').val(),
                    password: $('input[name="password"]').val(),
                })

                $('#alert').removeClass();
                $('#alert').addClass('alert');
                $('#alert').css('display', 'block');

                $.ajax({
                    url: $self.attr("action"),
                    type: $self.attr("method"),
                    data: payload,
                    contentType: 'application/json',
                }).then(function (res) {
                    if(res.success) {
                        localStorage.setItem("jwt", res.jwt);
                        localStorage.setItem("email", res.email);
                        localStorage.setItem("role", res.role);
                        window.location = '/'; 
                    }
                    else{
                        $('#alert').addClass('alert-danger');
                    }

                    $('#alert').html(res.message);
                }).catch(function (a) {
                    $('#alert').addClass('alert-danger');
                    $('#alert').html(a);
                });
            });
        });
    </script>

</body>

</html>

{{end}}